﻿<!DOCTYPE html>
<html ng-app="ToDo" ng-csp>

<head>
  <link rel="stylesheet" href="css/todo.css">
</head>

<body>
  <div ng-controller="todoCtrl" class="todo--wrapper" ng-class="{'today': tabLabel == 0, 'later': tabLabel == 1}">
    <ul class="todo--tab">
      <li ng-repeat="tab in tabs" ng-class="{active: setActiveTab(tab.url)}"><a ng-click="changeTab(tab)">{{tab.title}}</a></li>
    </ul>
    <div class="todo--tab-content">
      <div ng-include="currentTab"></div>
    </div>
    <form ng-submit='add()'>
      <input type="text" class="todo--list-item_add" placeholder="Need to..." ng-model="newContent" auto-focus>
    </form>
    <!-- <button ng-click="removeAll()">Clear</button> -->
  </div>
  <script src="js/lib/angular/angular.min.js"></script>
  <script src="js/lib/angular-xeditable/dist/js/xeditable.min.js"></script>
  <script src="js/app/app.js"></script>
  <script src="js/app/controller.js"></script>
  <script src="js/app/directive.js"></script>
  <script src="js/app/storage.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71335346-1', 'auto');
  ga('send', 'pageview');

</script>
  <!-- // <script src="js/todo.js"></script> -->

</body>

</html>
