<ul class="todo--list_wrapper">
  <li ng-repeat='todo in todoList track by todo.id  | orderBy: createdAt' ng-class='{completed: todo.completed}' class="todo--list-item" ng-if="todo.label != 1 && todo.completed === false" hover-show>
    <label>
      <input type="checkbox" class="item-check" ng-model='todo.completed' ng-change='toggleCompleted(todo)'>
      <span editable-text="todo.content" onaftersave="validate(todo.content)" class="todo--list-item_content">{{todo.content}}</span>
      <div class="todo--list-item_hover" id="demo">
        <a href="#" class="todo--list-item_move" ng-click="moveTodo(todo)">later</a>
        <a href="#" class="todo--list-item_delete" ng-click="remove(todo)"></a>
      </div>
    </label>
  </li>
  <li ng-repeat='todo in todoList track by todo.id  | orderBy: createdAt' class="todo--list-item completed" ng-if="todo.label != 1 && todo.completed === true" hover-show>
    <label>
      <input type="checkbox" class="item-check" ng-model='todo.completed' ng-change='toggleCompleted(todo)'>
      <span class="todo--list-item_content">{{todo.content}}</span>
      <div class="todo--list-item_hover">
        <a href="#" class="todo--list-item_delete" ng-click="remove(todo)"></a>
      </div>
    </label>
  </li>
</ul>
