// colors

// today
$todayMain = #0097A7
$todaySub = #00BCD4
$todayBg = #E0F7FA
$todayLine = #80DEEA

// later
$laterMain = #EF6C00
$laterSub = #FF9800
$laterBg = #FFF3E0
$laterLine = #FFCC80

// other
$error = #F44336
$completedBg = #EFF1F0
$completedLine = #A0BDBD

// reset
html,
body,
div,
form,
fieldset,
legend,
label,
ul,
li,
p
    margin: 0;
    padding: 0;

// common
.hidden
    display none

// todo app
.todo
    &--wrapper
        width 300px
        position relative
        overflow hidden
        padding-bottom 35px

        &.today
            border 1px solid $todayMain
            .todo
                &--tab
                    li
                        border-bottom 1px solid $todayMain

                        &.active
                            background $todayMain
                &--list-item
                    border-bottom 1px dashed $todayLine
                    &:last-child
                        border-bottom none

                    &_move
                        background $todaySub
                    &_add
                        border-top 1px solid $todayMain
                        background $todayBg
                    &_content
                        &:hover
                            color $todayMain
                    &.completed
                        border-bottom 1px dashed $completedLine
                        &:last-child
                            border-bottom none

            .editable-wrap
                .editable-input
                    border-bottom 1px solid $todaySub
                    background $todayBg

        &.later
            border 1px solid $laterMain
            .todo
                &--tab
                    li
                        border-bottom 1px solid $laterMain
                        &:last-child
                            border-left 1px solid $laterMain
                        &.active
                            background $laterMain
                &--list-item
                    border-bottom 1px dashed $laterLine
                    &:last-child
                        border-bottom none
                    &_move
                        background $laterSub
                    &_add
                        border-top 1px solid $laterMain
                        background $laterBg
                    &_content
                        &:hover
                            color $laterMain
                    &.completed
                        border-bottom 1px dashed $completedLine
                        &:last-child
                            border-bottom none
            .editable-wrap
                .editable-input
                    border-bottom 1px solid $laterSub
                    background $laterBg

    &--tab
        overflow hidden

        li
            float left
            width 149px
            list-style none
            text-align center

            a
                padding 10px
                display block
                width 100%
                height 100%
                box-sizing border-box

            &.active
                color white

    &--list-item
        color black
        position relative
        padding 8px

        label
            display block

        .item-check
            position absolute
            top 50%
            margin-top -6px


        &.completed
            background $completedBg
            padding 2px 8px

            span
                text-decoration line-through
                color gray


        &_hover
            display none
            position absolute
            top 50%
            margin-top -9px
            right 10px

            &.active
                display block

            a
                display inline-block
                vertical-align middle
                text-decoration none

        &_delete
            width 10px
            height 10px
            background url(../img/delete.png) no-repeat
            background-size 10px 10px

        &_move
            color white
            background $todaySub
            font-size 10px
            padding 3px
            margin-right 5px

        &_add
            position fixed
            bottom 1px
            left 1px
            outline none
            padding 10px
            border none
            box-sizing border-box
            width 300px

        &_content
            width 74%
            display inline-block
            color black
            border-bottom none
            margin-left 20px

            &:hover
                cursor pointer


    &--done

        &_true
            text-decoration line-through
            color gray



// editable
.editable-wrap
    width 205px
    margin-left 20px

    .editable-error
        color $error
        font-size 8px
        position absolute
        top -1px

    .editable-input
        width 100%
        border none
        padding-left 3px

        &:focus
            outline none